body {
margin:10px;
padding:10px;
}


h1 {
text-align:center;
color:black;
font-family: "Arial", sans-serif;
}


h3 {
color:black;
font-family: "Arial", sans-serif;
}

a {
font-size:120%;
}

img {
display: inline-block;
margin-left: 10%;
margin-right: auto;
}

#wrap {
display:block;
margin-left: auto;
margin-right: auto;
width:750px;
}

#header {
text-align:center;
width:750px;
}

#qualifications {
margin-left:50px;
width:750px;
}

#bio {
font-size:120%;
}